/*------------------------------------------------------------------------------------------------------------------------------------*/
section#content {
  color: white;
    font-size: 5em;
  position: absolute;
  top: 250px;
  left: 900px;
}

img#slide {
  
  height: auto; 
  margin-left: -8px;
  margin-top: -8px;
}
/*------------------------------------------------------------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------------------------------------------------------------*/
section#corona {
  width: 100%;
  height: 373px;
  background: #FFFF;
  position: absolute;
  top: 747px;
  left: 0;
}

/*------------------------------------------------------------------------------------------------------------------------------------*/


/*------------------------------------------------------------------------------------------------------------------------------------*/
section#medical {
  width: 100%;
  height: 1900px;
  background: #1D2033;
  position: absolute;
  top: 1140px;
  left: 0;
}
/*------------------------------------------------------------------------------------------------------------------------------------*/


/*------------------------------------------------------------------------------------------------------------------------------------*/
section#par {
  width: 100%;
  height: 200px;
  background: #FFFF;
  position: absolute;
  top: 3150px;
  left: 0;
}
/*------------------------------------------------------------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------------------------------------------------------------*/
footer {
    width: 100%;
    height: 90px;
    background: #1D2033;
    position: absolute;
    top: 3520px;
    left: 0;
}

p#footer {
    text-align: center;
    color: white;
    margin-top: 40px;
    font-size: 1.3em;
}
/*------------------------------------------------------------------------------------------------------------------------------------*/


